/* 
    Created on : 2014-08-06, 21:39:27
    Author     : Mariusz Kowalczyk
*/

#header {
    position: absolute;
    height: 130px;
}
body > div.wrap {
    margin-top: 135px;
}
#banner {
    display: block;
}
#footer {
    position: relative;
}
#weather-main-info-content, 
#weather-home-content {
    overflow-x: scroll;
    width: 100%;
}
#weather-main-info-content > div.weather-main-info, 
#weather-home-content > div.weather-home {
    width: 1170px;
}
.weather-main-info .col-md-1:not(:first-of-type) {
    float: left;
    width: 8%;
}
.weather-home .wether-day-div {
    float: left;
}
.weather-home .weather-item {
    float: left;
}
.weather-home .col-md-1 {
    width: 8%;
}
.weather-home .col-md-2 {
    width: 16%;
}
.weather-home .col-md-3 {
    width: 25%;
}
.weather-home .col-md-4 {
    width: 33%;
}
.weather-home .col-md-5 {
    width: 41%;
}
.weather-home .col-md-6 {
    width: 50%;
}
.weather-home .col-md-7 {
    width: 58%;
}
.weather-home .col-md-8 {
    width: 66%;
}
.weather-home .col-md-9 {
    width: 75%;
}
.weather-home .col-md-10 {
    width: 83%;
}
.weather-home .col-md-11 {
    width: 91%;
}
.weather-home .col-md-12 {
    width: 99%;
}
.panel-body {
    overflow-x: scroll;
}
.weather-main-details {
    width: 100%;
}