/* 
    Created on : 2014-06-19, 16:00:03
    Author     : Mariusz Kowalczyk
*/

#header {
    background-color: rgba(0, 0, 0 , 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    color: #FFFFFF;
}

#header h1 {
    font-family: 'arial';
}

#banner {
}

#banner a {
    color: #FFFFFF;
    text-decoration: none;
    z-index: 1000;
}

body > div.wrap {
    margin-top: 70px;
    margin-bottom: 50px;
}

#top-menu {
    float: right;
    margin-top: 10px;
}

@media (max-width: 992px) {
    #header {
        height: 140px;
    }
    
    #top-menu {
        float: left;
    }
    
    body > div.wrap {
        margin-top: 140px;
    }
}

@media (max-width: 767px) {
    #header {
        height: 140px;
    }
    
    #top-menu {
        float: left;
    }
    
    body > div.wrap {
        margin-top: 140px;
    }
}

@media (max-width: 600px) {
    #banner {
        display: none;
    }
    
    #header {
        height: 70px;
    }
    
    #top-menu {
        float: left;
    }
    
    #top-menu .btn {
        margin-bottom: 10px;
    }
    
    body > div.wrap {
        margin-top: 70px;
    }
    
    .formError {
        left: auto !important;
        right: 0;
    }
}

@media (max-width: 400px) {
    #banner {
        display: none;
    }
    
    #header {
        height: 130px;
    }
    
    #top-menu {
        float: left;
    }
    
    #top-menu .btn {
        margin-bottom: 10px;
    }
    
    body > div.wrap {
        margin-top: 130px;
    }
}

h2.header {
    background-color: #428bca;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #428bca;
    color: #fff;
    font-family: arial;
    font-size: 40px;
    padding: 11px 36px;
    text-shadow: 1px 1px 3px #92c6ff;
    margin-bottom: 40px;
    border: 2px solid #2c7fc1;
}

h3.header {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #519ad9;
    color: #428bca;
    font-family: arial;
    font-size: 28px;
    padding: 7px 30px;
    margin-bottom: 26px;
    border: 1px solid #428bca;
}

@media (max-width: 767px) {
    h2 {
        font-size: 30px;
        padding: 10px 20px;
    }
}

#header .container {
    position: relative;
}

.alert-messages {
    left: 244px;
    position: absolute;
    top: 10px;
    width: 340px;
}

.galleries-list .gallery-el {
    margin-right: 20px;    
}

.galleries-list .gallery-el .caption {
    text-align: center;
    font-size: 16px;
    font-family: 'Arial';
}

.galleries-list .gallery-el a {
    text-decoration: none;
}

.images-list .image-el {
    margin-right: 10px;    
}

.images-list .image-el .caption {
    text-align: center;
    font-size: 16px;
    font-family: 'Arial';
}

.images-list .image-el a {
    text-decoration: none;
}

.images-list .image-el .thumbnail {
    min-height: 180px;
}

.data-view .form-group:not(:last-child) {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer-menu-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.footer-menu-list a {
    color: #FFFFFF;
}
.footer-menu-list a:hover {
    color: #FFFFFF;
}
.wether-day {
    font-weight: bold;
    font-size: 16px;
}
.weather-home {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}
.wether-day small {
    font-weight: normal;
    font-size: 12px;
}
.wether-day-div {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.wether-day-div:first-child {
    border-left: 1px solid #e5e5e5;
}
.weather-item {
    text-align: center;
}
.weather-hour {
    text-align: center;
    margin-bottom: 8px;
    border-bottom: 1px dashed #e5e5e5;
}
.weather-temp {
    font-size: 16px;
}
.item-dey {
    font-weight: bold;
    font-size: 16px;
}
.item-dey small {
    font-size: 12px;
    font-weight: normal;
}
.weather-day {
    margin-bottom: 30px;
}
.weather-main-info {
    text-align: center;
    margin-bottom: 15px;
}
.weather-temp-max {
    margin-top: 6px;
}
.weather-temp-max, .weather-temp-min {
    font-size: 12px;
}
.weather-charts-temp {
    margin-top: 20px;
}
.weather-main-details {
    margin-top: 10px;
    display: none;
    padding: 20px;
    width: 50%;
}
.weather-details-hour {
    padding-top: 15px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #e5e5e5;
    font-weight: bold;
}
.weather-details-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}
.weather-main-details > .weather-details-item:nth-child(even) {
    background-color: #f2f2f2;
}
.weather-main-details > .weather-details-item:nth-child(odd) {
    background-color: #f9f9f9;
}
.break-15 {
    display: block;
    clear: both;
    height: 15px;
}
#fb-box {
    background: url("../images/fb_box.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 345px;
    height: 408px;
    display: block;
    position: fixed;
    top: 50%;
    right: -300px;
    margin-top: -202px;
    padding-top: 5px;
    padding-left: 53px;
}
.weather-daily-day {
    margin-bottom: 40px;
}
.weather-daily-date {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px dashed #e5e5e5;
}
.weather-daily-date small {
    font-weight: normal;
    font-size: 14px;
}
.weather-daily-main {
    text-align: center;
}
.weather-daily-description {
    font-size: 16px;
    margin-bottom: 5px;
}
.weather-daily-temp {
    font-size: 12px;
}
.weather-daily-temp-main {
    font-size: 20px;
    margin: 3px;
    font-weight: bold;
}
.weather-daily-temp-day, .weather-daily-temp-night {
    padding-top: 5px;
    padding-bottom: 5px;
}
.weather-daily-temp-day {
    background-color: rgba(255, 255, 0, 0.1);
}
.weather-daily-temp-night {
    background-color: rgba(0, 0, 0, 0.1);
}
.weather-daily-clouds, .weather-daily-speed {
    font-size: 14px;
}
.weather-daily-clouds .wd-label, .weather-daily-speed .wd-label {
    font-size: 12px;
}
.weather-daily-clouds {
    margin-top: 4px;
}
#forum-topics-list .topic-details {
    font-size: 10px;
}
.forum-row-details {
    font-size: 11px;
    margin-top: -15px;
}